@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Comfortaa;
}


@media screen and (max-width: 575px){
  .choices{
    display: flex;
    flex-direction: column;
    justify-content: center;

  }
}

.footer {
  width: 100%;
  display: flex;
  margin: 0;
  justify-content: space-evenly;
  padding: 5rem;
  color: #ffff;
  background-color: #1a1a37;
}

@media  screen and (max-width: 575px) {
  .footer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
  }
  .part {
    padding: 1rem;
  }
}