@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Comfortaa;
}


@media screen and (max-width: 575px){
  .choices{
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  
}